* {
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
    color: #cccccc;
    scrollbar-color: #525252 #2a2a2a;
}

body {
    margin: 0;
    color-scheme: dark;
    background-color: #181818;
}

header {
    position: static;
    display: flex;
    align-items: center;
    padding: 12px;
    gap: 12px;
    margin-bottom: 12px;
    background-color: #181818;
    border-bottom: 1px solid #2a2a2a;
}

header * {
    margin: 0;
}

h1 {
    flex-grow: 1;
    white-space: nowrap;
}

.message {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
}

.message * {
    margin: 0;
}

.avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: absolute;
    left: 12px;
    margin-top: 8px;
}

#settings-button {
    width: 32px;
    height: 32px;
}

#settings-icon {
    width: 32px;
    height: 32px;
}

#settings-icon:hover {
    animation: spin 1s ease-in-out;
    cursor: pointer;
}

#login-status {
    word-wrap: break-word;
}

#messages {
    list-style-type: none;
    padding: 0;
    margin-left: 12px;
}

#messages div {
    font-size: 1.25rem;
}

#message-form {
    position: fixed;
    bottom: 12px;
    left: 12px;
    right: 12px;
}

#message-input {
    width: 100%;
    background-color: #1f1f1f;
    border: 1px solid #2a2a2a;
    border-radius: 3px;
    font-size: 1.125rem;
    padding: 0.5rem;
    outline: none;
    transition: border-color 150ms ease-out;
}

#message-input:focus {
    border-color: #0078d4;
}

#login-button {
    background-color: #0078d4;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    font-size: 1.125rem;
    padding: 0.5rem 1rem;
    outline: none;
}

#login-button:hover {
    background-color: #026ec1;
}

#logout-button {
    background-color: #1f1f1f;
    color: #cccccc;
    text-decoration: none;
    border: 1px solid #2a2a2a;
    border-radius: 3px;
    font-size: 1.125rem;
    padding: 0.5rem 1rem;
    outline: none;
    white-space: nowrap;
}

#logout-button:hover {
    color: white;
    background-color: #c1020f;
    border-color: #c1020f;
}
